/* Basic Body Structure */
* {
  font-size: 100%;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}
body {
  background-color: #fdf6e3;
  color: #657b83;
  font: 10pt/1.1em "Dejavu Sans Mono", fixed;
  height: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  z-index: 100;
}
body div#body_home {
  -webkit-transition: opacity 0.8s linear;
  bottom: 0;
  left: 0;
  max-height: 99.99%;
  opacity: 0;
  /* Set by JavaScript */
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 100;
}
body[viewtype="channel"] div#body_home {
  max-height: 96.5%;
}
/* Loading Screen */
body div#loading_screen {
  -webkit-transition: opacity 0.8s linear;
  background: #eee8d5;
  border: 1px solid #586e75;
  border-radius: 5px;
  font-size: 18px;
  height: 21px;
  left: 50%;
  margin-left: -150px;
  margin-top: -11px;
  opacity: 1;
  padding: 5px 5px 5px 10px;
  position: absolute;
  top: 50%;
  width: 300px;
}
/* Topic Bar */
#topic_bar {
  -webkit-transition: opacity 0.8s linear;
  background: #93a1a1;
  border-bottom: 1px solid #073642;
  box-shadow: 0 1px 5px #586e75;
  color: #586e75;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: .3em .5em;
  position: fixed;
  right: 0;
  text-overflow: ellipsis;
  top: 0;
  white-space: nowrap;
  z-index: 400;
}
#topic_bar:hover {
  /* Topic bar hover additions contributed with permission from:
    <https://github.com/hbang/Simplified-Light-Modifications> */
  color: #eee8d5;
  overflow: visible;
  white-space: normal;
}
/* Remember Line */
#mark {
  margin-top: -1px;
  border-bottom: 1px dashed #2aa198;
  -webkit-transition: border 0.2s linear;
}
/* Historic Line */
.historic {
  opacity: 0.6;
}
/* Time */
.time {
  color: #93a1a1;
  white-space: nowrap;
}
/* Encryption Lock */
.encryptionLock img {
  float: right;
  height: 11px;
  margin: 0;
  margin-top: 2px;
  padding: 0;
  padding-left: 10px;
}
/* Links */
a {
  border-bottom: dotted 1px;
  color: inherit;
  text-decoration: none;
  word-break: break-all;
}
a:hover {
  border-bottom: solid 1px;
}
/* Images */
body a img {
  border: 0;
}
body img {
  display: block;
  max-width: 95%;
  margin: 15px 15px 12px 15px;
}
/* lines */
body .line {
  margin-top: -1px;
  padding: 3px 5px 2px 5px;
}
/* NOTICE/CTCP/WALLOPS */
body div.line[ltype~="ctcp"],
body div.line[ltype~="notice"],
body div.line[ltype~="wallops"] {
  background: #eee8d5;
  border: 1px solid #268bd2;
  border-width: 1px 0 1px 0;
}
body div.line[ltype~="ctcp"] .sender,
body div.line[ltype~="notice"] .sender,
body div.line[ltype~="wallops"] .sender {
  color: #d30102;
  font-weight: 700;
}
body div.line[ltype~="cctp"] + div.line[ltype~="cctp"] {
  border-top: none;
}
body div.line[ltype~="notice"] + div.line[ltype~="notice"] {
  border-top: none;
}
body div.line[ltype~="wallops"] + div.line[ltype~="wallops"] {
  border-top: none;
}
/* PRIVMSG */
body div.line[ltype~="privmsg"] .message {
  color: #657b83;
}
body div.line[ltype~="privmsg"] .sender {
  white-space: pre-wrap;
}
body div.line[highlight="true"] {
  font-weight: normal;
  border: 1px solid #b58900;
  border-width: 1px 0;
  background-color: #eee8d5 !important;
}
/* ACTION */
body div.line[ltype~="action"] .message {
  font-style: italic;
}
body div.line[ltype~="action"] .sender:before {
  content: "•";
  margin-right: 0.4em;
}
/* GENERAL EVENT */
body div.event[ltype~="join"],
body div.event[ltype~="part"],
body div.event[ltype~="kick"],
body div.event[ltype~="quit"],
body div.event[ltype~="kill"],
body div.event[ltype~="nick"],
body div.event[ltype~="mode"],
body div.event[ltype~="topic"],
body div.event[ltype~="website"] {
  color: #93a1a1;
  font-size: smaller;
}
body div.event[ltype~="join"] .time,
body div.event[ltype~="part"] .time,
body div.event[ltype~="kick"] .time,
body div.event[ltype~="quit"] .time,
body div.event[ltype~="kill"] .time,
body div.event[ltype~="nick"] .time,
body div.event[ltype~="mode"] .time,
body div.event[ltype~="topic"] .time,
body div.event[ltype~="website"] .time {
  padding-left: 1.2em;
}
body div.event[ltype~="join"] .sender,
body div.event[ltype~="part"] .sender,
body div.event[ltype~="quit"] .sender,
body div.event[ltype~="nick"] .sender,
body div.event[ltype~="join"] .message,
body div.event[ltype~="part"] .message,
body div.event[ltype~="quit"] .message,
body div.event[ltype~="nick"] .message {
  font-style: italic;
}
body div.event[ltype~="join"] .message:before {
  content: "⇀";
  color: #859900;
}
body div.event[ltype~="kick"] .message:before,
body div.event[ltype~="part"] .message:before,
body div.event[ltype~="quit"] .message:before {
  content: "↽";
  color: #d33682;
}
body div.event[ltype~="nick"] .message:before {
  content: "○";
  color: #2aa198;
}
/* DEBUG/INVITE */
body div.event[ltype~="invite"],
body div.event[ltype~="debug"],
body div.event[ltype~="rawhtml"] {
  background: #fdf6e3;
  border: 1px solid #eee8d5;
  border-width: 1px 0;
}
/* Message of the Day (MOTD) */
/* 720, 721, 722 are used by ShadowIRCd for Oper MOTD. */
/* 372, 375, 376 are normal MOTD shared by several IRCds. */
body div.event[command="375"],
body div.event[command="720"] {
  /* Start MOTD. */
  border-bottom: none;
}
body div.event[command="372"],
body div.event[command="721"] {
  border: none;
}
body div.event[command="372"] .time,
body div.event[command="721"] .time {
  display: none;
}
body div.event[command="372"] .message,
body div.event[command="721"] .message {
  padding-left: 2em;
}
body div.event[command="376"],
body div.event[command="722"] {
  /* End MOTD. */
  border-top: none;
}
/* Help */
body div.event[command="704"] {
  border-bottom: none;
}
body div.event[command="705"] {
  border: none;
}
body div.event[command="705"] .time {
  display: none;
}
body div.event[command="705"] .message {
  padding-left: 2em;
}
body div.event[command="706"] {
  border-top: none;
}
/* Local Debug */
body div.event[command~="-100"] + div.event[command~="-100"] {
  border-top: none;
}
/* Nickname Colors */
.sender[mtype~="myself"] {
  color: #586e75;
  font-weight: bold;
}
.sender[mtype~="normal"][colornumber="31"],
inline_nickname[colornumber="31"] {
  color: #859900;
}
.sender[mtype~="normal"][colornumber="30"],
inline_nickname[colornumber="30"] {
  color: #2aa198;
}
.sender[mtype~="normal"][colornumber="29"],
inline_nickname[colornumber="29"] {
  color: #268bd2;
}
.sender[mtype~="normal"][colornumber="28"],
inline_nickname[colornumber="28"] {
  color: #6c71c4;
}
.sender[mtype~="normal"][colornumber="27"],
inline_nickname[colornumber="27"] {
  color: #d33682;
}
.sender[mtype~="normal"][colornumber="26"],
inline_nickname[colornumber="26"] {
  color: #d30102;
}
.sender[mtype~="normal"][colornumber="25"],
inline_nickname[colornumber="25"] {
  color: #cb4b16;
}
.sender[mtype~="normal"][colornumber="24"],
inline_nickname[colornumber="24"] {
  color: #b58900;
}
.sender[mtype~="normal"][colornumber="23"],
inline_nickname[colornumber="23"] {
  color: #859900;
}
.sender[mtype~="normal"][colornumber="22"],
inline_nickname[colornumber="22"] {
  color: #2aa198;
}
.sender[mtype~="normal"][colornumber="21"],
inline_nickname[colornumber="21"] {
  color: #268bd2;
}
.sender[mtype~="normal"][colornumber="20"],
inline_nickname[colornumber="20"] {
  color: #6c71c4;
}
.sender[mtype~="normal"][colornumber="19"],
inline_nickname[colornumber="19"] {
  color: #d33682;
}
.sender[mtype~="normal"][colornumber="18"],
inline_nickname[colornumber="18"] {
  color: #d30102;
}
.sender[mtype~="normal"][colornumber="17"],
inline_nickname[colornumber="17"] {
  color: #cb4b16;
}
.sender[mtype~="normal"][colornumber="16"],
inline_nickname[colornumber="16"] {
  color: #b58900;
}
.sender[mtype~="normal"][colornumber="15"],
inline_nickname[colornumber="15"] {
  color: #859900;
}
.sender[mtype~="normal"][colornumber="14"],
inline_nickname[colornumber="14"] {
  color: #2aa198;
}
.sender[mtype~="normal"][colornumber="13"],
inline_nickname[colornumber="13"] {
  color: #268bd2;
}
.sender[mtype~="normal"][colornumber="12"],
inline_nickname[colornumber="12"] {
  color: #6c71c4;
}
.sender[mtype~="normal"][colornumber="11"],
inline_nickname[colornumber="11"] {
  color: #d33682;
}
.sender[mtype~="normal"][colornumber="10"],
inline_nickname[colornumber="10"] {
  color: #d30102;
}
.sender[mtype~="normal"][colornumber="9"],
inline_nickname[colornumber="9"] {
  color: #cb4b16;
}
.sender[mtype~="normal"][colornumber="8"],
inline_nickname[colornumber="8"] {
  color: #b58900;
}
.sender[mtype~="normal"][colornumber="7"],
inline_nickname[colornumber="7"] {
  color: #859900;
}
.sender[mtype~="normal"][colornumber="6"],
inline_nickname[colornumber="6"] {
  color: #2aa198;
}
.sender[mtype~="normal"][colornumber="5"],
inline_nickname[colornumber="5"] {
  color: #268bd2;
}
.sender[mtype~="normal"][colornumber="4"],
inline_nickname[colornumber="4"] {
  color: #6c71c4;
}
.sender[mtype~="normal"][colornumber="3"],
inline_nickname[colornumber="3"] {
  color: #d33682;
}
.sender[mtype~="normal"][colornumber="2"],
inline_nickname[colornumber="2"] {
  color: #d30102;
}
.sender[mtype~="normal"][colornumber="1"],
inline_nickname[colornumber="1"] {
  color: #cb4b16;
}
.sender[mtype~="normal"][colornumber="0"],
inline_nickname[colornumber="0"] {
  color: #b58900;
}
/*muted senders*/
body div.line[ltype~="muted"] {
  color: #93a1a1;
  font-size: smaller;
}
body div.line[ltype~="muted"] .time {
  padding-left: .75em;
}
body div.line[ltype~="muted"] .sender {
  color: inherit !important;
}
body div.line[ltype~="muted"] .message {
  color: #93a1a1;
}
