/* Basic Body Structure */
* {
  font-size: 100%;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}
body {
  background-color: #fdf6e3;
  color: #657b83;
  font: 10pt/1.1em "Dejavu Sans Mono", fixed;
  height: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  z-index: 100;
}
body div#body {
  -webkit-transition: opacity 0.8s linear;
  bottom: 0;
  left: 0;
  max-height: 99.99%;
  opacity: 0;
  /* Set by JavaScript */
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 100;
}
body[data-view-type="channel"] div#body {
  max-height: 96.5%;
}
/* Loading Screen */
body div#loadingScreen {
  -webkit-transition: opacity 0.8s linear;
  background: #eee8d5;
  border: 1px solid #586e75;
  border-radius: 5px;
  font-size: 18px;
  height: 21px;
  left: 50%;
  margin-left: -150px;
  margin-top: -11px;
  opacity: 1;
  padding: 5px 5px 5px 10px;
  position: absolute;
  top: 50%;
  width: 300px;
}
/* Topic Bar */
#topicBar {
  -webkit-transition: opacity 0.8s linear;
  background: #93a1a1;
  border-bottom: 1px solid #073642;
  box-shadow: 0 1px 5px #586e75;
  color: #586e75;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: .3em .5em;
  position: fixed;
  right: 0;
  text-overflow: ellipsis;
  top: 0;
  white-space: nowrap;
  z-index: 400;
}
#topicBar:hover {
  /* Topic bar hover additions contributed with permission from:
    <https://github.com/hbang/Simplified-Light-Modifications> */
  color: #eee8d5;
  overflow: visible;
  white-space: normal;
}
/* Remember Line */
#mark {
  margin-top: -1px;
  border-bottom: 2px dashed #2aa198;
  -webkit-transition: border 0.2s linear;
}
/* Historic Line */
.historic {
  opacity: 0.6;
}
/* Time */
.time {
  color: #93a1a1;
  white-space: nowrap;
}
/* Encryption Lock */
.encryptionLock img {
  float: right;
  height: 11px;
  margin: 0;
  margin-top: 2px;
  padding: 0;
  padding-left: 10px;
}
/* Links */
a {
  border-bottom: dotted 1px;
  color: inherit;
  text-decoration: none;
  word-break: break-all;
}
a:hover {
  border-bottom: solid 1px;
}
/* Images */
body a img {
  border: 0;
}
body img {
  display: block;
  max-width: 95%;
  margin: 15px 15px 12px 15px;
}
/* lines */
body .line {
  margin-top: -1px;
  padding: 3px 5px 2px 5px;
}
/* NOTICE/CTCP/WALLOPS */
body div.line[data-line-type~="ctcp"],
body div.line[data-line-type~="notice"],
body div.line[data-line-type~="wallops"] {
  background: #eee8d5;
  border: 1px solid #268bd2;
  border-width: 1px 0 1px 0;
}
body div.line[data-line-type~="ctcp"] .sender,
body div.line[data-line-type~="notice"] .sender,
body div.line[data-line-type~="wallops"] .sender {
  color: #d30102;
  font-weight: 700;
}
body div.line[data-line-type~="cctp"] + div.line[data-line-type~="cctp"] {
  border-top: none;
}
body div.line[data-line-type~="notice"] + div.line[data-line-type~="notice"] {
  border-top: none;
}
body div.line[data-line-type~="wallops"] + div.line[data-line-type~="wallops"] {
  border-top: none;
}
/* PRIVMSG */
body div.line[data-line-type~="privmsg"] .message {
  color: #657b83;
}
body div.line[data-line-type~="privmsg"] .sender {
  white-space: pre-wrap;
}
body div.line[data-highlight="true"] {
  font-weight: normal;
  border: 1px solid #b58900;
  border-width: 1px 0;
  background-color: #eee8d5 !important;
}
/* ACTION */
body div.line[data-line-type~="action"] .message {
  font-style: italic;
}
body div.line[data-line-type~="action"] .sender:before {
  content: "•";
  margin-right: 0.4em;
}
/* GENERAL EVENT */
body div.event[data-line-type~="join"],
body div.event[data-line-type~="part"],
body div.event[data-line-type~="kick"],
body div.event[data-line-type~="quit"],
body div.event[data-line-type~="kill"],
body div.event[data-line-type~="nick"],
body div.event[data-line-type~="mode"],
body div.event[data-line-type~="topic"],
body div.event[data-line-type~="website"] {
  color: #93a1a1;
  font-size: smaller;
}
body div.event[data-line-type~="join"] .time,
body div.event[data-line-type~="part"] .time,
body div.event[data-line-type~="kick"] .time,
body div.event[data-line-type~="quit"] .time,
body div.event[data-line-type~="kill"] .time,
body div.event[data-line-type~="nick"] .time,
body div.event[data-line-type~="mode"] .time,
body div.event[data-line-type~="topic"] .time,
body div.event[data-line-type~="website"] .time {
  padding-left: 1.2em;
}
body div.event[data-line-type~="join"] .sender,
body div.event[data-line-type~="part"] .sender,
body div.event[data-line-type~="quit"] .sender,
body div.event[data-line-type~="nick"] .sender,
body div.event[data-line-type~="join"] .message,
body div.event[data-line-type~="part"] .message,
body div.event[data-line-type~="quit"] .message,
body div.event[data-line-type~="nick"] .message {
  font-style: italic;
}
body div.event[data-line-type~="join"] .message:before {
  content: "⇀";
  color: #859900;
}
body div.event[data-line-type~="kick"] .message:before,
body div.event[data-line-type~="part"] .message:before,
body div.event[data-line-type~="quit"] .message:before {
  content: "↽";
  color: #d33682;
}
body div.event[data-line-type~="nick"] .message:before {
  content: "○";
  color: #2aa198;
}
/* DEBUG/INVITE */
body div.event[data-line-type~="invite"],
body div.event[data-line-type~="debug"],
body div.event[data-line-type~="rawhtml"] {
  background: #fdf6e3;
  border: 1px solid #eee8d5;
  border-width: 1px 0;
}
/* Message of the Day (MOTD) */
/* 720, 721, 722 are used by ShadowIRCd for Oper MOTD. */
/* 372, 375, 376 are normal MOTD shared by several IRCds. */
body div.event[data-command="375"],
body div.event[data-command="720"] {
  /* Start MOTD. */
  border-bottom: none;
}
body div.event[data-command="372"],
body div.event[data-command="721"] {
  border: none;
}
body div.event[data-command="372"] .time,
body div.event[data-command="721"] .time {
  display: none;
}
body div.event[data-command="372"] .message,
body div.event[data-command="721"] .message {
  padding-left: 2em;
}
body div.event[data-command="376"],
body div.event[data-command="722"] {
  /* End MOTD. */
  border-top: none;
}
/* Help */
body div.event[data-command="704"] {
  border-bottom: none;
}
body div.event[data-command="705"] {
  border: none;
}
body div.event[data-command="705"] .time {
  display: none;
}
body div.event[data-command="705"] .message {
  padding-left: 2em;
}
body div.event[data-command="706"] {
  border-top: none;
}
/* Local Debug */
body div.event[data-command~="-100"] + div.event[data-command~="-100"] {
  border-top: none;
}
/* Nickname Colors */
.sender[data-member-type~="myself"] {
  color: #586e75;
  font-weight: bold;
}
.sender[data-member-type~="normal"][data-foreground-color="31"],
inline_nickname[data-foreground-color="31"] {
  color: #859900;
}
.sender[data-member-type~="normal"][data-foreground-color="30"],
inline_nickname[data-foreground-color="30"] {
  color: #2aa198;
}
.sender[data-member-type~="normal"][data-foreground-color="29"],
inline_nickname[data-foreground-color="29"] {
  color: #268bd2;
}
.sender[data-member-type~="normal"][data-foreground-color="28"],
inline_nickname[data-foreground-color="28"] {
  color: #6c71c4;
}
.sender[data-member-type~="normal"][data-foreground-color="27"],
inline_nickname[data-foreground-color="27"] {
  color: #d33682;
}
.sender[data-member-type~="normal"][data-foreground-color="26"],
inline_nickname[data-foreground-color="26"] {
  color: #d30102;
}
.sender[data-member-type~="normal"][data-foreground-color="25"],
inline_nickname[data-foreground-color="25"] {
  color: #cb4b16;
}
.sender[data-member-type~="normal"][data-foreground-color="24"],
inline_nickname[data-foreground-color="24"] {
  color: #b58900;
}
.sender[data-member-type~="normal"][data-foreground-color="23"],
inline_nickname[data-foreground-color="23"] {
  color: #859900;
}
.sender[data-member-type~="normal"][data-foreground-color="22"],
inline_nickname[data-foreground-color="22"] {
  color: #2aa198;
}
.sender[data-member-type~="normal"][data-foreground-color="21"],
inline_nickname[data-foreground-color="21"] {
  color: #268bd2;
}
.sender[data-member-type~="normal"][data-foreground-color="20"],
inline_nickname[data-foreground-color="20"] {
  color: #6c71c4;
}
.sender[data-member-type~="normal"][data-foreground-color="19"],
inline_nickname[data-foreground-color="19"] {
  color: #d33682;
}
.sender[data-member-type~="normal"][data-foreground-color="18"],
inline_nickname[data-foreground-color="18"] {
  color: #d30102;
}
.sender[data-member-type~="normal"][data-foreground-color="17"],
inline_nickname[data-foreground-color="17"] {
  color: #cb4b16;
}
.sender[data-member-type~="normal"][data-foreground-color="16"],
inline_nickname[data-foreground-color="16"] {
  color: #b58900;
}
.sender[data-member-type~="normal"][data-foreground-color="15"],
inline_nickname[data-foreground-color="15"] {
  color: #859900;
}
.sender[data-member-type~="normal"][data-foreground-color="14"],
inline_nickname[data-foreground-color="14"] {
  color: #2aa198;
}
.sender[data-member-type~="normal"][data-foreground-color="13"],
inline_nickname[data-foreground-color="13"] {
  color: #268bd2;
}
.sender[data-member-type~="normal"][data-foreground-color="12"],
inline_nickname[data-foreground-color="12"] {
  color: #6c71c4;
}
.sender[data-member-type~="normal"][data-foreground-color="11"],
inline_nickname[data-foreground-color="11"] {
  color: #d33682;
}
.sender[data-member-type~="normal"][data-foreground-color="10"],
inline_nickname[data-foreground-color="10"] {
  color: #d30102;
}
.sender[data-member-type~="normal"][data-foreground-color="9"],
inline_nickname[data-foreground-color="9"] {
  color: #cb4b16;
}
.sender[data-member-type~="normal"][data-foreground-color="8"],
inline_nickname[data-foreground-color="8"] {
  color: #b58900;
}
.sender[data-member-type~="normal"][data-foreground-color="7"],
inline_nickname[data-foreground-color="7"] {
  color: #859900;
}
.sender[data-member-type~="normal"][data-foreground-color="6"],
inline_nickname[data-foreground-color="6"] {
  color: #2aa198;
}
.sender[data-member-type~="normal"][data-foreground-color="5"],
inline_nickname[data-foreground-color="5"] {
  color: #268bd2;
}
.sender[data-member-type~="normal"][data-foreground-color="4"],
inline_nickname[data-foreground-color="4"] {
  color: #6c71c4;
}
.sender[data-member-type~="normal"][data-foreground-color="3"],
inline_nickname[data-foreground-color="3"] {
  color: #d33682;
}
.sender[data-member-type~="normal"][data-foreground-color="2"],
inline_nickname[data-foreground-color="2"] {
  color: #d30102;
}
.sender[data-member-type~="normal"][data-foreground-color="1"],
inline_nickname[data-foreground-color="1"] {
  color: #cb4b16;
}
.sender[data-member-type~="normal"][data-foreground-color="0"],
inline_nickname[data-foreground-color="0"] {
  color: #b58900;
}
/* mIRC color codes */
body .effect[data-foreground-color='0'] {
  color: #fdf6e3;
}
body .effect[data-foreground-color='1'] {
  color: #002b36;
}
body .effect[data-foreground-color='2'] {
  color: #859900;
}
body .effect[data-foreground-color='3'] {
  color: #268bd2;
}
body .effect[data-foreground-color='4'] {
  color: #d30102;
}
body .effect[data-foreground-color='5'] {
  color: #7f0000;
}
body .effect[data-foreground-color='6'] {
  color: #6c71c4;
}
body .effect[data-foreground-color='7'] {
  color: #cb4b16;
}
body .effect[data-foreground-color='8'] {
  color: #b58900;
}
body .effect[data-foreground-color='9'] {
  color: #859900;
}
body .effect[data-foreground-color='10'] {
  color: #2aa198;
}
body .effect[data-foreground-color='11'] {
  color: #2aa198;
}
body .effect[data-foreground-color='12'] {
  color: #268bd2;
}
body .effect[data-foreground-color='13'] {
  color: #d33682;
}
body .effect[data-foreground-color='14'] {
  color: #657b83;
}
body .effect[data-foreground-color='15'] {
  color: #93a1a1;
}
body .effect[data-background-color='0'] {
  background-color: #fdf6e3;
}
body .effect[data-background-color='1'] {
  background-color: #002b36;
}
body .effect[data-background-color='2'] {
  background-color: #859900;
}
body .effect[data-background-color='3'] {
  background-color: #268bd2;
}
body .effect[data-background-color='4'] {
  background-color: #d30102;
}
body .effect[data-background-color='5'] {
  background-color: #7f0000;
}
body .effect[data-background-color='6'] {
  background-color: #6c71c4;
}
body .effect[data-background-color='7'] {
  background-color: #cb4b16;
}
body .effect[data-background-color='8'] {
  background-color: #b58900;
}
body .effect[data-background-color='9'] {
  background-color: #859900;
}
body .effect[data-background-color='10'] {
  background-color: #2aa198;
}
body .effect[data-background-color='11'] {
  background-color: #2aa198;
}
body .effect[data-background-color='12'] {
  background-color: #268bd2;
}
body .effect[data-background-color='13'] {
  background-color: #d33682;
}
body .effect[data-background-color='14'] {
  background-color: #657b83;
}
body .effect[data-background-color='15'] {
  background-color: #93a1a1;
}
/*muted senders*/
body div.line[data-line-type~="muted"] {
  border: none;
  color: #93a1a1;
  font-size: smaller;
}
body div.line[data-line-type~="muted"] .time {
  padding-left: .75em;
}
body div.line[data-line-type~="muted"] .sender {
  color: inherit !important;
}
body div.line[data-line-type~="muted"] .message {
  color: #93a1a1;
}
